.no-password-reveal::-webkit-textfield-decoration-container {
    display: none !important;
}

.no-password-reveal::-webkit-strong-password-auto-fill-button {
    display: none !important;
}

.no-password-reveal::-webkit-credentials-auto-fill-button {
    display: none !important;
}

.no-password-reveal::-ms-reveal {
    display: none !important;
}

.no-password-reveal::-moz-reveal {
    display: none !important;
}